/.HitboxTeam/
/.ICEauthority
/.Osmos/
/.Skype/
/.VirtualBox/
/.Xauthority
/.Xil/
/.Xilinx/
/.android/
/.appcfg*
/.aws/
/.bash_history
/.bash_logout
/.cache/
/.ccache/
/.chrome-remote-desktop-session
/.cvsps/
/.dbshell
/.dbus/
/.docker/
/.dotfiles/
/.eaglerc
/.eclipse/
/.electrum/
/.esd_auth
/.eteks/
/.fontconfig/
/.gconf/
/.gem/
/.gimp-2.8/
/.gist
/.gitconfig
/.gitk
/.gksu.lock
/.gnome/
/.gnome2/
/.gnupg/
/.gradle/
/.gstreamer-0.10/
/.gtk-bookmarks
/.gvm/
/.heroku/
/.idlerc/
/.ipython/
/.java/
/.jd/
/.jupyter/
/.kde/
/.kube/
/.lastpass
/.lesshst
/.local/
/.m2/
/.macromedia/
/.minecraft/
/.mongorc.js
/.mozilla/
/.mplayer/
/.mysql/
/.nemiver/
/.node-gyp/
/.npm/
/.nv/
/.nvidia-settings-rc
/.omz-themes.old
/.openshot/
/.oracle_jre_usage/
/.pip/
/.pki/
/.pulse-cookie
/.pulse/
/.pypirc
/.python-eggs/
/.python_history
/.quiltrc-dpkg
/.repo_.gitconfig.json
/.repoconfig/
/.repopickle_.gitconfig
/.rvm/
/.sane/
/.sqlite_history
/.ssh/
/.steam/
/.steampath
/.steampid
/.subversion/
/.teamviewer/
/.technic/
/.thumbnails/
/.thunderbird/
/.tox/
/.ts3client/
/.tuxguitar-1.2/
/.uml/
/.vim/.netrwhist
/.viminfo
/.vnc/
/.wget-hsts
/.wine/
/.wireshark/
/.xca/
/.xchat2/
/.xsel.log
/.xsession-errors
/.xsession-errors.old
/.zcompdump
/.zcompdump-theoden-5.0.8
/.zsh-update
/.zsh_history
.*.json
/Desktop/
/Documents/
/Downloads/
/Pictures/
/VirtualBox VMs/
/backup/
/configs/
/go/
/projects/
/tests/
/ve/
/ve2/
/ve3/
/xilinx_ise.lic


/.[CIPAW]*/*
!/.[CIPAW]*/config/
/.[CIPAW]*/config/*
!/.[CIPAW]*/config/colors/
!/.[CIPAW]*/config/codestyles/

!/.config
/.config/*
!/.config/git
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/solarized.fish


!/.vim
/.vim/*
!/.vim/bundle
/.vim/bundle/*
!/.vim/bundle/Vundle.vim
.netrc
.pg*
.psql_history
.plotly/
.rpdb2_settings/
.winpdb_settings.cfg
/ve34/
