[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = github:gmarik/Vundle.vim
	ignore = dirty
[submodule "vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = github:plasticboy/vim-markdown
	ignore = dirty
[submodule "antigen"]
	path = .antigen-git
	url = github:zsh-users/antigen
	ignore = dirty
[submodule ".tfenv"]
	path = .tfenv
	url = github:tfutils/tfenv
