/.adobe/
/.android/
/.appcfg*
/.aws/
/backup/
/.bash_history
/.bash_logout
/.bzr.log
/.cache/
/Calibre Library/
/.ccache/
/.chrome-remote-desktop-session
/configs/
/.cookiecutter*
/.cvsps/
/.dbshell
/.dbus/
/Desktop/
/.docker/
/.dockercfg
/Documents/
/.dotfiles/
/Downloads/
/.eaglerc
/.eclipse/
/.electrum/
/.esd_auth
/.eteks/
/.fontconfig/
/.gconf/
/.gem/
/.gimp-2.8/
/.gist
/.gitconfig
/.gitk
/.gksu.lock
/.gnome/
/.gnome2/
/.gnucash/
/.gnupg/
/go/
/.gradle/
/.gramps/
/.gstreamer-0.10/
/.gtk-bookmarks
/.gvm/
/.heroku/
/.HitboxTeam/
/.ICEauthority
/.idlerc/
/.ipython/
/.java/
/.jd/
/.*.json
/.jupyter/
/.kde/
/.kube/
/.lastpass
/.lesshst
/.local/
/.m2/
/.macromedia/
/*.md
/.minecraft/
/.mongorc.js
/.mono/
/.mozilla/
/.mplayer/
/Music/
/.mysql/
/.mysql_history
/.nemiver/
/.netrc
/.node-gyp/
/.node_repl_history
/.npm/
/.nv/
/.nvidia-settings-rc
/.omz-themes.old
/.openshot/
/.oracle_jre_usage/
/.Osmos/
/.pg*
/Pictures/
/.pip/
/.pki/
/PlayOnLinux*
/.plotly/
/projects/
/.psql_history
/.pulse/
/.pulse-cookie
/.pypirc
/.python-eggs/
/.python_history
/.quiltrc-dpkg
/Recordings/
/.rediscli_history
/.repoconfig/
/.repo_.gitconfig.json
/.repopickle_.gitconfig
/.rpdb2_settings/
/.rvm/
/.sane/
/.Skype/
/.sqlite_history
/.ssh/
/.steam/
/.steampath
/.steampid
/.subversion/
/.teamviewer/
/.technic/
/.TelegramDesktop/
/.terraform.d/
/tests/
/.thumbnails/
/.thunderbird/
/.tox/
/.ts3client/
/.tuxguitar-1.2/
/.uml/
/.vagrant.d/
/ve/
/ve2/
/ve3/
/ve34/
/Videos/
/.viminfo
/.vim/.netrwhist
/.VirtualBox/
/VirtualBox VMs/
/.vnc/
/.wget-hsts
/.wine/
/.winpdb_settings.cfg
/.wireshark/
/.Xauthority
/.xca/
/.xchat2/
/.Xil/
/.Xilinx/
/xilinx_ise.lic
/.xsel.log
/.xsession-errors
/.xsession-errors.old
/.zcompdump
/.zcompdump-theoden-5.0.8
/.zsh_history
/.zsh-update


/.[CIPAW]*/*
!/.[CIPAW]*/config/
/.[CIPAW]*/config/*
!/.[CIPAW]*/config/codestyles/
!/.[CIPAW]*/config/colors/
!/.[CIPAW]*/config/fileTemplates/
!/.[CIPAW]*/config/options/
/.[CIPAW]*/config/options/*
!/.[CIPAW]*/config/options/colors.scheme.xml
!/.[CIPAW]*/config/options/code.style.schemes
!/.[CIPAW]*/config/options/code.style.schemes.xml

!/.config
/.config/*
!/.config/awesome/
!/.config/git/
/.config/git/gitk
!/.config/fish/
!/.config/fish/*
/.config/fish/fish_history


!/.vim
/.vim/*
!/.vim/colors
!/.vim/bundle
/.vim/bundle/*
!/.vim/bundle/Vundle.vim

