[submodule "oh-my-zsh"]
	update = checkout
	path = .oh-my-zsh
	ignore = dirty
	url = git://github.com/txomon/oh-my-zsh
[submodule "AutoClose"]
	update = checkout
	path = .vim/bundle/AutoClose
	ignore = dirty
	url = git://github.com/vim-scripts/AutoClose
[submodule "AutoComplPop"]
	update = checkout
        path = .vim/bundle/AutoComplPop
	ignore = dirty
	url = git://github.com/vim-scripts/AutoComplPop
[submodule "Gundo"]
	update = checkout
	path = .vim/bundle/Gundo
	ignore = dirty
	url = git://github.com/vim-scripts/Gundo
[submodule "ScrollColors"]
	path = .vim/bundle/ScrollColors
	ignore = dirty
	url = git://github.com/vim-scripts/ScrollColors
	update = checkout
[submodule "TaskList.vim"]
	update = checkout
	path = .vim/bundle/TaskList.vim
	ignore = dirty
	url = git://github.com/vim-scripts/TaskList.vim
[submodule "Vundle.vim"]
	update = checkout
	path = .vim/bundle/Vundle.vim
	ignore = dirty
	url = git://github.com/gmarik/Vundle.vim
[submodule "c.vim"]
	update = checkout
	path = .vim/bundle/c.vim
	ignore = dirty
	url = git://github.com/vim-scripts/c.vim
[submodule "fugitive.vim"]
	update = checkout
	path = .vim/bundle/fugitive.vim
	ignore = dirty
	url = git://github.com/vim-scripts/fugitive.vim
[submodule "lusty"]
	path = .vim/bundle/lusty
	update = checkout
	ignore = dirty
	url = git://github.com/sjbach/lusty
[submodule "pep8"]
	path = .vim/bundle/pep8
	ignore = dirty
	update = checkout
	url = git://github.com/vim-scripts/pep8
[submodule "pydoc.vim"]
	path = .vim/bundle/pydoc.vim
	update = checkout
	ignore = dirty
	url = git://github.com/vim-scripts/pydoc.vim
[submodule "pyflakes"]
	path = .vim/bundle/pyflakes
	ignore = dirty
	url = git://github.com/vim-scripts/pyflakes
	update = checkout
[submodule "python.vim"]
	update = checkout
	path = .vim/bundle/python.vim
	ignore = dirty
	url = git://github.com/vim-scripts/python.vim
[submodule "python.vim--Vasiliev"]
	path = .vim/bundle/python.vim--Vasiliev
	update = checkout
	ignore = dirty
	url = git://github.com/vim-scripts/python.vim--Vasiliev
[submodule "supertab"]
	path = .vim/bundle/supertab
	ignore = dirty
	url = git://github.com/ervandew/supertab
	update = checkout
[submodule "taglist.vim"]
	path = .vim/bundle/taglist.vim
	ignore = dirty
	url = git://github.com/vim-scripts/taglist.vim
	update = checkout
[submodule "vim-go"]
	update = checkout
	path = .vim/bundle/vim-go
	ignore = dirty
	url = git://github.com/txomon/vim-go
[submodule "virtualenv.vim"]
	path = .vim/bundle/virtualenv.vim
	ignore = dirty
	url = git://github.com/vim-scripts/virtualenv.vim
	update = checkout
[submodule "vim-markdown"]
	path = .vim/bundle/vim-markdown
	ignore = dirty
	url = git://github.com/plasticboy/vim-markdown
	update = checkout
[submodule "antigen"]
	path = .antigen-git
	ignore = dirty
	url = git://github.com/zsh-users/antigen
	update = checkout
