[submodule "Vundle.vim"]
	update = checkout
	path = .vim/bundle/Vundle.vim
	ignore = dirty
	url = git://github.com/gmarik/Vundle.vim
[submodule "vim-markdown"]
	path = .vim/bundle/vim-markdown
	ignore = dirty
	url = git://github.com/plasticboy/vim-markdown
	update = checkout
[submodule "antigen"]
	path = .antigen-git
	ignore = dirty
	url = git://github.com/zsh-users/antigen
	update = checkout
[submodule "antigen"]
	path = .antigen-git
	ignore = dirty
	url = git://github.com/zsh-users/antigen
	update = checkout
